/*************** MOBILE FIRST ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  color: #fff;
}
body {
  background-color: #000;
}
.logo {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}
.center {
  display: block;
  margin: 0 auto;
  width: 50%;
}
section#land-page {
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  position: relative;
}
section#land-page::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1400px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 80%, #000 100%);
  z-index: 200;
}
section#land-page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
section#land-page .img-perso-col {
  z-index: 10;
}
div.text-accueil {
  margin-top: 2.5em;
  text-align: center;
  z-index: 5;
  position: relative;
}
div.text-accueil h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}
div.text-accueil .logo {
  font-size: 3.2em;
  color: #D99908;
  margin: 0.2em 0;
}
div.text-accueil p {
  font-weight: 300;
  font-size: 0.8em;
}
div.text-accueil p:first-of-type {
  padding-bottom: 0.3em;
}
section#explore {
  background-image: url(../medias/imgDeco2Ciel.jpg);
  padding-bottom: 4em;
}
section#explore h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color: #D99908;
  padding-bottom: 1em;
  margin-top: 6em;
}
section#explore p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  padding-bottom: 1em;
  line-height: 2em;
}
section#explore button {
  display: block;
  margin: 2em auto 0 auto;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #D99908;
  text-decoration: none;
}
section#explore button a {
  text-decoration: none;
}
section#explore .lottieAnim {
  display: block;
  margin: 0 auto;
}
section#experience {
  background-color: grey;
  padding-bottom: 2em;
}
section#experience h2 {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  color: #D99908;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 6em;
}
section#experience p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  padding: 2em 2em 0 2em;
  line-height: 2em;
}
section#experience img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
  border-radius: 1em;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: #000;
  position: fixed;
  width: 100vw;
  z-index: 100000;
}
.logo {
  color: #fff;
  font-size: 1.2em;
  margin-right: auto;
  cursor: pointer;
}
.nav-toggle {
  display: none;
}
nav {
  position: absolute;
  background-color: #000;
  text-align: center;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 400ms ease-in-out;
}
nav ul {
  list-style: none;
  margin-top: 15em;
}
nav ul li {
  margin: 4em 0;
  /** line under each li **/
}
nav ul li a {
  font-size: 1.4em;
  text-decoration: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  position: relative;
}
.hamburger .line {
  background-color: #fff;
  width: 40px;
  height: 2px;
  display: block;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
footer {
  background: #000;
  height: 20em;
  padding-left: 2em;
}
footer .logo {
  font-size: 2.2em;
  color: #D99908;
  margin: 0.2em 0;
}
footer .footer-links a {
  text-decoration: none;
}
footer ul li {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  div.text-accueil {
    font-size: 1.6em;
  }
  section#explore {
    font-size: 1.6em;
  }
  section#experience {
    font-size: 1.6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section#experience img {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .nav-toggle-hamburger {
    display: none;
  }
  nav {
    all: unset;
    z-index: 300;
  }
  nav ul {
    margin-top: 0;
  }
  nav ul li {
    display: inline-block;
    padding: 0 20px;
  }
  nav ul li a {
    opacity: 1;
    position: relative;
    font-size: 1.2em;
  }
  nav ul li a::before {
    content: "";
    position: absolute;
    background: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
  nav ul li a:hover::before {
    opacity: 1;
    transform: translateX(0);
  }
  header {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    margin: -38px auto;
    z-index: 250;
  }
  .logo {
    margin-right: auto;
    cursor: pointer;
    color: #fff;
    font-size: 2em;
  }
  div.text-accueil {
    text-align: left;
    margin-left: 1em;
    margin-top: 6em;
    font-size: 2em;
  }
}
