* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292828;
  font-family: 'Figtree', sans-serif;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px;
}
header .logo {
  margin-right: auto;
  cursor: pointer;
  color: #D99908;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  background: #fff;
  top: 110%;
  left: 0;
  width: 100%;
  height: 10%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
header nav ul li a:hover::before {
  opacity: 1;
  transform: translateX(0);
}
header button {
  padding: 9px 25px;
  margin: 0 10px;
  background-color: #D99908;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
