/************************** 1er Section de la page Accueil **************************/
section#land-page {
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    position: relative;
    
    &::before {
        content:"";
        position: absolute;
        bottom:0;
        width: 100%;
        height: 1400px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, #000 100%);
        z-index: 200;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        
    }

    .img-sol {
        z-index: 10;
    }

    // .galaxy {
    //     display: block;
    //     width: 100%;
    //     height: auto;
        
    //     position: absolute;
    //     top: 26%;
    //     left: 0;
        
    // }

}

div#text-accueil-container {

    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    height: 100vh;

    .text-accueil {
   
        text-align: center;
        z-index: 1;
        position: absolute;
    
        h2 {
            text-transform: uppercase;
            font-weight: 700;
        }
    
        p {
            font-weight: 300;
            padding: 0 5em;
            &:first-of-type {
                padding-bottom: 0.3em;
            }
        }
    }

}

/** Animation des pages **/

/************************** 2eme Section de la page Accueil **************************/
section#explore {
    position: relative;
    background-image: url(../medias/imgDeco2Ciel.jpg);
    padding-bottom: 4em;
    z-index: 100;
    border: 1px solid transparent;

    h2 {
        text-align: center;
        font-weight: 700;
        color: @accentColor;
        padding-bottom: 1em;
        
    }

    p {
        text-align: center;
        font-weight: 300;
        padding: 0 1em;
        line-height: 2em;
        margin-bottom: 2em;;
    }

    .btn-explore {
        display: block;
        margin: 0 auto 2em auto;
        padding: 8px 20px;
        border-radius: 20px;
        background-color: @accentColor;
        text-decoration: none;

        a {
            text-decoration: none;
            font-size: clamp(0.9rem, 4vw, 1.4rem);
        }
    }

    .planet-terre-accueil {
        display: block;
        width: 200px;
        height: 200px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(/medias/image-terre.jpeg);
        border-radius: 50%;
        background-size: cover;
        box-shadow: -20px -20px 50px 2px rgba(35, 105, 204, 0.473) inset, 0 0 20px 2px rgba(34, 122, 222, 0.618);
        animation: animePlanet 10s linear infinite;
    }

    /** Animation de la planete Terre **/
    @keyframes animePlanet {
        to {
            background-position: 100%;
        }
    }
    
}

/************************** 3eme Section de la page Accueil **************************/
section#experience {

    background-color: grey;
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr;

    h2 {
        text-align: center;
        // font-size: 1.2em;
        font-weight: 700;
        color: @accentColor;
        padding-bottom: 1rem;
    }

    p {
        text-align: center;
        font-weight: 300;
        line-height: 1.2em;
        padding-top: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 60%;
        height: 60%;
        border-radius: 1em;
        object-fit: cover;
    }

    .experience-container {
        margin: 1.5em 0;
    }

}


