/*************** MOBILE FIRST ***************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.logo {
    font-family: @fontLogo;
    font-weight: 500;
    letter-spacing: 5px;
}

.center {
    display: block;
    margin: 0 auto;
    width: 50%;
}