footer {
    background: grey;
    height: 20em;

    .logo {
        font-size: 2.2em;
        color: @accentColor;
        margin: 0.2em 0;
    }

    .footer-links {

        a {
            text-decoration: none;
        }
    }
}