footer {
    background: #000;
    height: 20em;

    .logo {
        font-size: 1.2em;
        color: @accentColor;
        margin: 0.2em 0;
    }

    .footer-links {

        a {
            text-decoration: none;
        }
    }

    ul li {
        list-style-type: none;
    }

    .credit {
        margin-top: 1em;
        text-align: center;
        display: grid;
        place-self: center;
    }
}