header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    background-color: #000;
    position: fixed;
    width: 100vw;
    z-index: 100000;
}


.logo-nav {
    color: #fff;
    font-size: 1.2em;
    margin-right: auto;
    z-index: 100000;
    cursor: pointer;

    a {
        text-decoration: none;
    }
}

.nav-toggle {
    display: none;
}

nav {
    
    position: absolute;
    background-color: #000;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 400ms ease-in-out;
    
    ul {
        list-style: none;
        margin-top: 2em;

        li {
            margin: 4em 0;

            a {
                font-size: 1.4em;
                text-decoration: none;
                opacity: 0;
                transition: opacity 150ms ease-in-out;

            }

        }
    }

    .bar-recherche {
        border: 2px solid #fff;
        background-color: rgb(96, 89, 89);
        border-radius: 50px;
        border-width: 0.2em ;
        border-spacing: 1rem;
        display: block;
        margin-top: 6em;
        margin-left: auto;
        margin-right: auto;
        padding: 0.4em;
        width: 80%;

            i {
                padding-left: 1em;
            }
    }
}

/*************************** Menu Hamburger ***********************************/
.hamburger {

    .line {
        background-color: #fff;
        width: 40px;
        height: 2px;
        display: block;
        margin: 10px auto;
        
        transition: all 0.3s ease-in-out;
    }
    
}

.hamburger.is-active .line:nth-child(2){
    opacity: 0;
}
  
.hamburger.is-active .line:nth-child(1){

    transform: translateY(13px) rotate(45deg);
}
  
.hamburger.is-active .line:nth-child(3){

    transform: translateY(-13px) rotate(-45deg);
}

.nav-toggle:checked{

    & ~ nav {
        transform: scale(1, 1);

        & a {
            opacity:1;
            transition: opacity 250ms ease-in-out 250ms;
        }
    }
   
} 





